@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  position: fixed;
  top: 25px;
  right: 25px;

  width: 30px;
  height: 30px;
  margin: auto;

  border: 3px solid #dddddd;
  border-top: 4px solid red;
  border-radius: 100%;

  animation: spinner 1s infinite linear;
}
